.jargon-buster-term {
    background-color: #C9D2DE;
    // color: white;
    padding: 0 3px;
    border-radius: 2px;
    cursor: pointer;
}

.jargon-buster-definition {
    color: #555;
    font-size: 1.4em;
    line-height: 1.8em;
    margin-top: 0;
    padding: 5px 8px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: none;
}

.jargon-close {
  background-color: #C9D2DE;
  border-radius: 2px;
  cursor: pointer;
  font-size: 90%;
  padding: 2px;
}